.row li {
    width: 25%;
    float: left;
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

#detailPhoto li {
    width: 85%;
}

img {
    border: 0 none;
    display: inline-block;
    height: auto;
    width: auto;
    max-width: inherit;
    vertical-align: middle;

    border-radius: 10px;
}

a,
a:link,
a:visited,
a:hover,
a:active,
u {
    text-decoration: none !important;
    font-weight: normal;
    color: inherit;
}

html {
    background: transparent;

    /*width: 100%;*/
    /*height: 100%;*/
}

html body, .famous-root {
    background: url(../img/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*width: 100%;*/
    /*height: 100%;*/
    /*min-height: 100%;*/
}

/*html, body{*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

.jumbotron {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    /*vertical-align: middle;*/
    /*display: inline-block;*/
}

.page-header {
    /*background: rgba(255,255,255, 0.7);*/
    /*border-radius: 10px;*/

    color: #ffffff;
}

.page-header small {
    color: #ffffff;
}

.content-body {
    margin-top: 50px;

    width: 75%;
    height: inherit;
}

a.right.carousel-control {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

a.left.carousel-control {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img-thumbnail {
    border-radius: 10px;
}

#home-carousel {
    /*vertical-align: middle;*/

    margin-top: 50px;
    background: none;
}

#story-carousel {
    background: none;
}

#project-carousel {
    background: none;
}

.img-responsive {
    width: 100%;
}

/*.story-text {*/
/*/!*overflow: hidden;*!/*/
/*display: -webkit-box;*/
/*-webkit-box-orient: vertical;*/
/*/!*max-lines: 22;*!/*/
/*/!*overflow: hidden;*!/*/
/*/!*text-overflow: clip;*!/*/

/*height: 37.5em;*/

/*/!*overflow: hidden;*!/*/
/*overflow: scroll;*/
/*/!*overflow: hidden;*!/*/
/*/!*text-overflow: clip !important;*!/*/
/*/!*line-height: X;*!/*/
/*/!*max-height: X*N*!/*/
/*}*/

/*@media (-webkit-min-device-pixel-ratio: 0) {*/
/*.story-text {*/
/*display: -webkit-box;*/
/*/!*-webkit-line-clamp: 20;*!/*/
/*-webkit-overflow-scrolling:touch;*/
/*-webkit-box-orient: vertical;*/
/*}*/
/*}*/

/*.story-text-shortened{*/
/*overflow: auto;*/
/*/!*overflow: hidden;*!/*/
/*/!*text-overflow: ellipsis;*!/*/
/*display: -webkit-box;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-line-clamp:20;*/
/*}*/

::-webkit-scrollbar {
    display: none;
}

/*.center-align-helper{*/
/*display: inline-block;*/
/*height: 100%;*/
/*vertical-align: middle;*/
/*}*/

/*.center-carousel{*/
/*/!*display: inline-block;*!/*/
/*/!*height: inherit;*!/*/
/*/!*width: inherit;*!/*/
/*vertical-align: middle;*/
/*}*/

.custom-nav-button {
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: inherit;
    color: inherit;

    color: #777;
}

/*a:hover{*/
    /*color: red;*/
/*}*/

#loaded-drop-down-list{

}