.row li {
    width: 25%;
    float: left;
    list-style-type: none;
    padding: 5px;
    margin: 0;
}
#detailPhoto li{
    width: 85%;
}
img {
     border: 0 none;
     display: inline-block;
     height: auto;
     max-width: 100%;
     vertical-align: middle;
 }
a,
a:link,
a:visited,
a:hover,
a:active,
u {
    text-decoration: none !important;
    font-weight: normal;
    color: inherit;
}

html {
    background: url(../img/overallBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
