<div class="container-fluid" data-ng-controller="aboutController" id="about">
    <!-- page header -->
    <div class="page-header">
        <h1>About Me
            <br>
            <small>
                Awesome CS related stories for those who care enough to read :)
            </small>
        </h1>
    </div>

    <!-- page content -->
    <div class="jumbotron" ng-repeat="story in stories">
        <div><h3>{{story.title}}</h3></div>

        <div class="row">
            <div class="col-xs-6">
                <!--<ul ng-repeat="image in story.photos">-->

                <!-- story images carousel-->
                <div class="jumbotron" id="story-carousel" data-ng-controller="aboutStoryController">
                    <div class="carousel slide" ng-repeat="image in story.photos" ng-hide="!isCurrentSlideIndex($index)">
                        <img class="img-responsive img-thumbnail" ng-src="{{image}}">
                        <a class="left carousel-control" role="button" ng-click="prevSlide()">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" role="button" ng-click="nextSlide()">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

                <!--<li><img class="img-responsive" ng-src="{{image}}"></li>-->
                <!--</ul>-->
            </div>

            <div class="col-xs-6">
                <div class="story-text">
                    <!--<p class="story-text">{{story.text}}</p>-->
                    <p>{{story.text}}</p>
                    <!--{{story.text}}-->
                </div>
            </div>
        </div>
    </div>
</div>