<div class="container-fluid" data-ng-controller="homeController" id="home">

    <!-- page header -->
    <div class="page-header">
        <h1>Muhammad Rizky Wellyanto
            <small><br>Computer Science & Engineering</small>
        </h1>
    </div>

    <!-- screenshots -->
    <div class="jumbotron">
        <div class="carousel slide" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)">
            <img class="img-responsive" ng-src="{{slide.photo}}">

            <div class="carousel-caption">
                <h3>{{slide.title}}</h3>

                <p>{{slide.description}}</p>
            </div>

            <a class="left carousel-control" role="button" ng-click="prevSlide()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" role="button" ng-click="nextSlide()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <!--&lt;!&ndash; Carousel protoype &ndash;&gt;-->
    <!--<div id="testCarousel" class="carousel slide">-->
        <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
        <!--</ol>-->
        <!---->
        <!--<div class="carousel-inner">-->
            <!--<div class="item active">-->
                <!--<img src="img/homePhoto1.jpg" class="img-responsive">-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<img src="img/homePhoto2.jpg" class="img-responsive">-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<img src="img/homePhoto3.jpg" class="img-responsive">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">-->
        <!--<span class="icon-prev"></span>-->
    <!--</a>-->

    <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">-->
        <!--<span class="icon-next"></span>-->
    <!--</a>-->

    <!--<slide></slide>-->
</div>