<div class="container-fluid" data-ng-controller="projectsController" id="projects">

    <!-- page header -->
    <div class="page-header">
        <h1>
            My Personal Projects
            <br>
            <small>
                Click on the Project to see the details. [Done] Projects have step-by-step details while the other might not have them.
            </small>
        </h1>
        <!-- dropdown list of projects -->
        <div>
            <!-- will be developed in near future -->
        </div>
    </div>

    <!-- projects template -->
    <div ng-repeat="project in projects">
        <a href="#projectDetails" ng-click="setCurrentProject(project.file)">
            <div class="jumbotron">
                <h2>{{project.title}} <small>[{{project.status}}]</small></h2>

                <div class="row">
                    <ul ng-repeat="image in project.photos">
                        <li><img class="img-responsive" ng-src="{{image}}"></li>
                    </ul>
                </div>

                <p>{{project.text}}</p>
            </div>
        </a>
    </div>
</div>