<div class="container-fluid" data-ng-controller="projectDetailsController" id="projectDetails"
     xmlns="http://www.w3.org/1999/html">

    <!-- page header -->
    <div class="page-header">
        <h1>
            <a ng-href="{{project.link}}">
                {{project.title}}
            </a>
            <br>
            <small>{{project.description}}</small>
        </h1>
    </div>

    <!-- steps of the project -->
    <div class="jumbotron" ng-repeat="step in project.steps">
        <h2>{{step.title}}</h2>

        <div class="row">
            <div class="col-xs-6">
                <div class="center-carousel">

                    <img class="img-responsive img-thumbnail" ng-src="{{step.photo}}">

                </div>
            </div>
            <!--<div>-->
            <P>{{step.text}}</p>
            <!--</div>-->
        </div>
    </div>
</div>