<div class="container-fluid" data-ng-controller="resumeController" id="resume"
     xmlns="http://www.w3.org/1999/html">

    <!--<div class="jumbotron" id="resumeBox">-->
        <!--<embed src="./pdf/resume.pdf" width="100%" height="100%" type='application/pdf'>-->
    <!--</div>-->

    <div class="jumbotron" id="resumeBox">
        <!--<object data="http://RizkyWelly.com/pdf/resume.pdf" type="application/pdf" width="100%" height="100%">-->
            <!--<p>It appears you don't have a PDF plugin for this browser.-->
                <!--Don't worry! you can <a href="http://RizkyWelly.com/pdf/resume.pdf">click here to download my Resume.</a></p>-->
        <!--</object>-->

        <iframe src="http://docs.google.com/gview?url=https://github.com/RizkyWellyanto/Resume/raw/master/Muhammad%20Rizky%20Wellyanto%20Resume.pdf&embedded=true" style="width:100%; height:100%;" frameborder="0"></iframe>

    </div>

</div>