<!doctype html>
<html lang="en" data-ng-app="site">
<head profile="red wolf icon">
    <!-- Meta Description for Search Engine Results -->
    <meta name="description"
          content="Muhammad Rizky Wellyanto is an aspiring Full-Stack Developer and Future Tech Entrepreneur.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icon -->
    <link rel="icon" type="image/png" href="icon/icon.png">

    <!-- css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/stylesheet.css"/>

    <!-- title -->
    <title>Rizky | Rockstar Hacker</title>
    <meta name="description"
          content="Muhammad Rizky Wellyanto is a full-stack developer and aspiring future tech entrepreneur.">

    <!-- Google Fonts integration: http://www.google.com/fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300|Love+Ya+Like+A+Sister'
          rel='stylesheet' type='text/css'>
</head>
<body>
<!-- navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top" data-ng-controller="navBarController" id="navBar">
    <div class="container-fluid">
        <!-- nav bar title -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand btn custom-nav-button" href="#">Muhammad Rizky Wellyanto</a>
        </div>

        <!-- nav bar links -->
        <div class="collapse navbar-collapse">
            <!--left side links -->
            <ul class="nav navbar-nav">
                <li><a href="#about" class="btn custom-nav-button">About Me</a></li>
                <li>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle custom-nav-button" type="button" id="projects-drop-down"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <a href="#projects">Personal Projects</a>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="projects-drop-down-ist">
                            <!--<ul class="dropdown-menu" aria-labelledby="projects-drop-down-ist" ng-repeat="project in projectsDropDownList">-->
                            <li><a href="#projects">All Projects</a></li>
                            <li ng-repeat="project in projectsDropDownList">
                                <a href="#projectDetails"
                                   ng-click="setCurrentProject(project.file)">{{project.title}}</a>
                            </li>
                        </ul>


                        <!--&lt;!&ndash;<div ng-repeat="project in projectsDropDownList">&ndash;&gt;-->
                        <!--<ul class="dropdown-menu" id="loaded-drop-down-list">-->
                        <!--<li>-->
                        <!--<a href="#projectDetails" ng-click="setCurrentProject(project.file)">{{project.title}}</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    </div>
                </li>
                <li><a href="#resume" class="btn custom-nav-button">Resume</a></li>
            </ul>

            <!-- nav bar right-side links -->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn" href="https://github.com/RizkyWellyanto">Github</a></li>
                <li><a class="btn" href="https://www.facebook.com/rizky.wellyanto">Facebook</a></li>
                <li><a class="btn" href="https://twitter.com/RizkyWelly">Twitter</a></li>
                <li><a class="btn"
                       href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">LinkedIn</a>
                </li>
                <li><a class="btn" href="https://plus.google.com/u/0/102597941088909232855/posts">Google+</a></li>
                <li><a class="btn" href="http://stackoverflow.com/users/3721507/wellyanto-the-second">StackOverflow</a>
                <li><a class="btn"
                       href="http://devpost.com/RizkyWelly?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">DevPost</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<div id="particles-js">-->
<!-- content of the page -->
<!--<div id="particles-js"></div>-->

<div class="container-fluid content-body" id="main">
    <!--<div id="particles-js">-->
    <ng-view id="ng-view">
        <!--<div id="particles-js"></div>-->
    </ng-view>
    <!--</div>-->
</div>
<!--</div>-->

<!-- Scripts -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js" defer></script>-->
<!--<script type="text/javascript" src="node_modules/requirejs/require.js" data-main="scripts/main"></script>-->
<!--<link rel="stylesheet" type="text/css" href="http://code.famo.us/famous/0.3.4/famous.css"/>-->
<!--<script type="text/javascript" src="http://code.famo.us/famous/0.3.4/famous.min.js"></script>-->
<!--<script data-main="scripts/main.js" src="scripts/require.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
<script src="scripts/ui-bootstrap-tpls-0.11.2.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>-->
<!--<script src="/scripts/particles.js"></script>-->
<script src="/scripts/main.js"></script>
<script src="/scripts/modernizr.js"></script>
<!--<script src="scripts/famous.js"></script>-->

</body>
</html>